#requirements
numpy~=1.19.4
sklearn == 0.0
pip~=20.0.2
requests~=2.22.0
scikit-image~=0.18.1
lmdb~=1.1.1
lmdbdict~=0.2.2
#torch==1.4.0
#torchvision==0.5.0
transformers
googletrans~=3.1.0a0
git+https://github.com/facebookresearch/fvcore.git
cython
opencv-python
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
git+https://github.com/ruotianluo/meshed-memory-transformer.git
